{% extends 'base/app.twig' %}

{% block content %}
    <section class="frontpage-hero">
        <div class="container mx-auto">
            {% include 'partials/home/hero-product.twig' with { product: featured} %}
        </div>
    </section>

    <div class="">
        {{ post.content }}
    </div>
{% endblock %}
