{% from "macro/sites.twig" import sites_list %}

<!-- Kiyoh Banner -->
<div class="border-b border-primary kiyoh-banner">
    <section class="container mx-auto py-8 flex">
        {% include 'partials/blocks/kiyoh.twig' %}
        <nav class="lg:w-3/5 shop-container">
            <div class="shops-wrapper">
                <h3>Makkelijk bestellen bij meerdere wijnwebshops</h3>
                {% for item in theme.theme_mod('seo_reviews') %}
                    {% if loop.first %}<ul class="review-seo-list">{% endif %}
                    <li class="review-seo-list-item">{{ item.item_text }}</li>
                    {% if loop.last %}
                        </ul>
                        <button role="button" class="js-menu-open btn round animated shaded primary outline large">
                            <span class="not-mobile">{{ theme.theme_mod('header_store-text', 'Bekijk alle shops') }}</span>
                        </button>
                    {% endif %}
                {% else %}
                    <div class="columned-sites">
                        {{ sites_list(sites)}}
                    </div>
                {% endfor %}
            </div>
        </nav>
    </section>
</div>
