$header-background: $primary !default;
$header-color: $white !default;
$header-padding: $padding !default;
$header-shadow: true !default;
$header-sticky: true !default;
$topnav-spacing: $padding_small !default;

header.header {
  background: #f4f4f4;
  padding: $header-padding;

  @screen lg {
    background: $header-background;
    color: $header-color;
  }

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @if $header-sticky {
    @include sticky(0);

    .admin-bar & {
      @media screen and (min-width: get-breakpoint('sm')) {
        @include sticky($WP_ADMIN_BAR_HEIGHT);
      }
    }
  }
}

.custom_logo {
  header.header & {
    margin-bottom: 0;
    max-width: 250px;
    @screen lg {
      display: none;
    }
  }
}

.top-navigation {
  display: none;
  margin-left: auto;

  @if ($topnav-spacing) {
    & > .top-nav-item:not(:last-of-type) {
      margin-right: $topnav-spacing;
    }
  }

  @screen lg {
    display: block;
  }
}

.top-mobile-navigation {
  @screen lg {
    display: none;
  }
}

.top-nav-item.menu-item {
  color: $white;
}

.bulbed {
  background: $header-color;
  color: $header-background;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.js-menu-open {
  display: block;
}
