$logo-height: 45px !default;

.logo-header {
  background: $primary;
  @if ($header-sticky) {
    .admin-bar & {
      @screen lg {
        @include sticky(88px);
      }
    }
  }

  @screen lg {
    background: white;
  }

  @if $header_shadow {
    @include shadow;
  }
}

.custom_logo {
  max-height: $logo-height;
  @media screen and (max-width: 1023px) {
    max-width: 300px;
    margin-bottom: .5rem;
  }

  .logo-header & {
    display: none;
    @screen lg {
      display: block;
    }
  }
}
