.menu-button {
  font-size: 1.3rem;
  @media screen and (min-width: get-breakpoint('md')) {
    display: none;
  }
}

.navbar {
  margin-left: auto;
  align-self: center;
  display: flex;

  @include transition;
  @media screen and (max-width: get-breakpoint('md')) {
    position: fixed;
    background: $white;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    padding: $padding;
    transform: scale(0, 1);
    transform-origin: left;
    display: flex;
    flex-direction: column;
    border-top: 5px solid $primary;
    z-index: 20;
    @include shadow;

    &.active {
      transform: scale(1);
      opacity: 1;
    }

    .admin-bar & {
      top: 46px;
    }
  }
}

.menu-item {
  color: $primary;
  margin-right: $padding;
}

.menu-item-submenu {
  position: relative;
  border-bottom: 1px solid scale-color($primary, $alpha: -40%);
  margin-bottom: .5rem;
  padding-bottom: .5rem;

  @screen lg {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &:hover {
    .submenu {
      transform: scale(1);
    }
  }
}

.submenu {
  @extend %default-shadow;
  @extend %default-transition;
  padding: $padding_small;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background: $white;
  transform: scale(1, 0);
  transform-origin: top;
}
