$search-form-color: $primary !default;
$search-form-padding: $padding_small !default;

$search-form-border-width: 1px !default;
$search-form-border-color: $search-form-color !default;

.search-form {
  display: flex;
  padding: $search-form-padding;
  border: $search-form-border-width solid $search-form-border-color;
  background: $white;

  & .search-form-input {
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  & .search-button {
  color: $search-form-color;
  }

  @include radii;
  @screen md {
    margin-right: unset;
    min-width: 350px;
  }
}
