{% extends 'base/app.twig' %}

{% block content %}
    <main class="container mx-auto px-4 lg:px-0 py-4 content">
        <h1>{{ post.title }}</h1>
        {{ post.post_excerpt|wpautop }}
        <div class="products px-4 lg:px-0 py-4">
            {% for product in products %}
                {% include 'partials/tease/product.twig' with { product: product } only %}
            {% endfor %}
        </div>
        {{ post.content|wpautop }}
    </main>
{% endblock %}
