{% extends 'base/app.twig' %}

{% block content %}
    <main class="container mx-auto px-4 lg:px-0 pb-4">
        {{ post.content }}

        <div class="products px-4 lg:px-0">
            {% for product in products %}

                {% include 'partials/tease/product.twig' with { product: product } only %}
            {% endfor %}
        </div>
    </main>
{% endblock %}
