.search-form {
    display: flex;
    @media screen and (min-width: 768px) {
        margin-left: auto;
        min-width: 350px;
    }
    padding: * 0.5rem;

    border: 1px solid $primary;
    @include radii;

    & .search-form-input {
        width: 100%;
        &:focus {
            outline: none;
        }
    }

    & .search-button {
        color: $primary;
    }
}
