.has-badge {
    position: relative;
}

.badge {
    position: absolute;
    font-size: 0.75rem;
    width: 1rem;
    height: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    &:not(.square) {
        border-radius: 50%;
    }

    &.right {
        right: -1rem;
    }

    &.top {
        top: -1rem;
    }

    &.left {
        left: -1rem;
    }

    &.bottom {
        bottom: -1rem;
    }

    &.primary {
        background: $primary;
        color: $white;

        @include outlined {
            background: transparent;
            color: $primary;
            border: 1px solid $primary;
        }
    }

    &.secondary {
        background: $secondary;
        color: $white;

        @include outlined {
            background: transparent;
            color: $secondary;
            border: 1px solid $secondary;
        }
    }

    &.white {
        background: $white;
        color: $primary;

        @include outlined {
            background: transparent;
            color: $white;
            border: 1px solid $white;
        }
    }
}
