.btn {
    padding: ($padding_small / 2) 0;
    display: flex;
    align-items: center;

    &.round { @include radii; }

    &.centered { text-align: center; }

    &.shaded {
        @include shadow;

        &.animated {
            &:hover {
                box-shadow: none;
            }
        }
    }

    &.animated { @include transition; }

    &.primary {
        &.outline {
            border: 1px solid $primary;
            color: $black;
        }

        &:not(.outline) {
            background: $primary;
            color: $white;
            border: 1px solid $primary;
        }
    }

    &.secondary {
        &.outline {
            border: 1px solid $secondary;
            color: $black;
        }

        &:not(.outline) {
            background: $secondary;
            color: $white;
            border: 1px solid $secondary;
        }
    }

    &.small {
        padding: 0;
    }

    &.large {
        padding: 0.5rem;
    }
}

.quantity_button {
    width: 15%;
    color: white;
    background: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.875rem !important;
    font-weight: bold;

    &.left {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
    }

    &.right {
        border-bottom-right-radius: $radius;
        border-top-right-radius: $radius;
    }

    &:hover {
        background: adjust-color($black, $lightness: 20%);
    }

    @include transition;
}

.products-large-cta {
    @include shadow;
    border: 2px solid $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $fontSizeLarge;
    font-weight: 600;

    > .btn {
        margin-top: 2rem;
        padding: 0 $padding_small;
        font-weight: 400;
    }
}
