.filter-opener {
  background: $primary;
  box-shadow: 0 3px 6px adjust-color($black, $alpha: -.7%);
  width: calc(100% - 2rem);
  margin: 1rem;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;

  &:active {
    box-shadow: none;
  }
}

@include above-screen('md') {
  .filter-opener {
    display: none;
  }
}
