@import "tailwindcss/base";
@import "tailwindcss/components";

@import "custom/all.pcss";
@import "components/all.pcss";
@import "header/all.pcss";
@import "pages/all.pcss";

@import "tailwindcss/utilities";
