<strong>Voordelen</strong>
<ul class="list-disc">
    <li>Groot assortiment wijnen op voorraad</li>
    <li>Per fles te bestellen</li>
    <li>Gratis verzending vanaf €60,- (NL)</li>
    <li>Gratis verzending vanaf € 100,- (BE)</li>
    <li>Snel bezorgd via PostNL</li>
    <li>Proefgarantie</li>
    <li>Ophalen in Amsterdam mogelijk</li>
</ul>
