{% from 'macro/typography/titles.macro.twig' import footer_heading_small %}
<nav role="navigation" class="lg:w-1/4 flex flex-col menu">
    <strong>Meer informatie</strong>
    {% for item in footerMenu.items %}
        <a
                class="menuitem"
                href="{{ item.link }}"
                target="_self"
                title="{{ item.title }}"
                role="navigation"
        >
            {{ item.title }}
        </a>
    {% endfor %}
</nav>
