html {
    font-family: $fontFamily;
}

.content {
    & h2 {
        font-size: $fontSizeXLarge;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 1rem;
    }

    & p {
        margin-bottom: 1rem;
    }

    & h3 {
        font-size: $fontSizeLarge;
        font-weight: bold;
        line-height: 1;
    }

    & a {
        text-decoration: underline;
    }
}
