@mixin shadow { box-shadow: 0px 3px 6px color-mod($black a(10%)); }

@mixin sticky($top: 0, $z: 1) { position: sticky; top: $top; z-index: $z; }

@mixin radii { border-radius: $radius; }

@mixin transition { transition: all 225ms cubic-bezier(0.2, 0.4, 0.2, 1.0); }
