.content p.faq-question {
    background: adjust-color($grey, $alpha: -0.7%);
    color: $black;
    padding: 1rem 1rem 1rem 3rem;
    margin: 0;

    position: relative;

    &::before {
        content: 'Q';
        color: $primary;
        position: absolute;
        left: 1rem;
        top: 1rem;
    }
}

.content p.faq-answer {
    background: $white;
    margin-bottom: 1rem;

    padding: 1rem 1rem 1rem 3rem;

    position: relative;

    &::before {
        content: 'A';
        color: $primary;
        position: absolute;
        left: 1rem;
        top: 1rem;
    }
}
