@import "frontpage/hero";
@import "frontpage/large-hero";
@import "frontpage/products";

.kiyoh-reviews {
    display: flex;
    align-content: center;

    & .kiyoh-score {
        font-size: $fontSizeLarge;
    }
}
