.frontpage-hero {
    background-size: $hero_size;

    padding: $padding;

    @if $hero_height {
        height: $hero_height;
    }

    @if $hero_background {
        background-color: $primary;
    }

    position: relative;

    @media screen and (min-width: 1024px) {
        padding-bottom: $padding + 2.5rem;
    }

    & .product-title {
        line-height: 1;
        font-size: $fontSizeLarge;
        font-weight: 300;
        margin-bottom: $padding_small;
        text-transform: uppercase;
    }

    .single-product & {
        display: none;

        @media screen and (min-width: 1024px) {
            display: block;
        }
    }
}

.product-payoff {
    font-size: theme('fontSize.xl');
    font-weight: bold;
    margin-bottom: $padding_small;
}

.kiyoh-reviews {
    display: flex;
    align-content: center;

    & .kiyoh-score {
        font-size: $fontSizeLarge;
    }
}

.product-card-floating-price {
    position: relative;

    & .price {
        position: absolute;
        top: 75px;
        left: 0px;
        width: 75px;
        height: 75px;
        background: adjust-color($primary, $alpha: -0.15%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.product-card-floating-image {
    @media screen and (min-width: 1024px) {
        max-height: 300px;
    }
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: $padding;

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.usp-banner {
    display: none;

    @media screen and (min-width: 1024px) {
        display: block;
        position: absolute;
        background: adjust-color($primary, $alpha: -0.6%);
        width: 100%;
        bottom: 0;
        left: 0;
        padding: $padding / 2;
        text-align: center;
        color: $white;
    }
}

.frontpage-hero.not_home {
    display: none;
}
