.products-large-store {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $padding_small;
  padding: $padding 0;

  @include below-screen('md') {
    grid-template-columns: 1fr;
  }
}

@include below-screen('md') {
  .filter-container {
    z-index: 40;
    background: $white;
    box-shadow: 0 -3px 6px adjust-color($black, $alpha: -.7%);
    padding: 1rem;
    position: fixed;
    transform: scale(1, 0);
    overflow: scroll;
    transform-origin: bottom;
    transition: all 225ms linear;
    top: 20vh;
    bottom: 0;
    left: 0;
    right: 0;
    &.active {
      transform: scale(1);
    }
  }
}
