{% extends 'base/app.twig' %}

{% block content %}
    <div class="container mx-auto px-4 lg:px-0 py-4 content">
        <h1>{{ title }}</h1>
    </div>
    <div class="container mx-auto">
        {% if stramien_large %}
            <section class="lg:ml-auto lg:w-3/4 clearfix mt-4">
                {% do action('woocommerce_before_shop_loop') %}
            </section>
            <div class="flex">
                <div class="lg:w-1/4 lg:pr-4 js-filter-container filter-container">
                    {{ theme.theme_mod('store_filter')|shortcodes }}
                </div>
                <div class="lg:w-3/4">
                    <div class="products-large-store px-4 lg:px-0">
                        {% for product in products %}
                            {% include 'partials/tease/product-large.html.twig' with { product: product } only %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <section class="lg:ml-auto lg:w-3/4">
                {% do action('woocommerce_after_shop_loop') %}
            </section>

            <button class="js-filter-opener filter-opener">
                <i class="fas fa-filter"></i>
            </button>
        {% else %}
            <div class="products px-4 lg:px-0">
                {% for product in products %}
                    {% include 'partials/tease/product.twig' with { product: product } only %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if category and category.description %}
        <div class="container mx-auto mt-5 content">
            {{ category.description|wpautop }}
        </div>
    {% endif %}
{% endblock %}
