{% extends 'base/app.twig' %}

{% block content %}
    <div class="container mx-auto">
        <div class="products px-4 lg:px-0">
            {% for product in products %}
                {% include 'partials/tease/product.twig' with { product: product } only %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
