{% extends 'base/app.twig' %}

{% block content %}
    <main class="product">
        <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.thumbnail.alt }}" class="product-image" />

        <h1 class="product-title">{{ post.title }}</h1>

        <section>
            Categorie: {{ fn('wc_get_product_category_list', post.ID) }}
        </section>
    </main>
{% endblock %}
