<section style="width: 100%; padding: 0.5rem; background: #000000; color: #ffffff; text-align:center;">
    Let op: PostNL krijgt het de komende dagen erg druk, bestel op tijd dan proberen wij een vlotte verzending te regelen.
</section>
{% include 'partials/header/topper.html.twig' %}
{% include 'partials/layout/stores-flyout.html.twig' %}

{% include 'partials/header/logobar.html.twig' %}

{% if fn('is_front_page') %}
    {% include 'partials/home/herobanner.html.twig' %}
{% endif %}

{% if not stramien_large %}
    {% include 'partials/header/kiyohbanner.html.twig' %}
{% endif %}
