{% macro sites_list(sites, classes) %}
    {% for site in sites %}
        {% if site.domain is not same as('casadelvino.nl') and site.domain is not same as('magasinduvin.nl') %}
            <a href="//{{ site.domain }}" class="{{ classes }}">{{ site.domain }}</a>
        {% endif %}
    {% endfor %}
{% endmacro %}