.has-badge {
  position: relative;
}

.badge {
  position: absolute;
  font-size: $badge-font-size;
  width: $badge-width;
  height: $badge-height;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $badge-border-radius;

  &.right {
    right: -.5rem;
    @screen lg {
      right: -1rem;
    }
  }

  &.top {
    top: -1rem;
  }

  &.left {
    left: -.5rem;
    @screen lg {
      left: -1rem;
    }
  }

  &.bottom {
    bottom: -1rem;
  }

  @each $name, $map in $colors {
    &.#{$name} {
      background: nth($map, 1);
      @if ($name == 'white') {
        color: $primary;
      }
      @else {
        color: nth($map, 2);
      }

      @include outlined {
        background: transparent;
        color: nth($map, 1);
        border: 1px solid nth($map, 1);
      }
    }
  }
}
